<launch>
	<!-- Launches the AR.Drone driver -->
	<node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" clear_params="true">
	    <param name="outdoor" value="1" /> <!-- If we are flying outdoors, will select more aggressive default settings -->
	    <param name="flight_without_shell" value="1" /> <!-- Changes internal controller gains if we are flying without the propeller guard -->
	    
	    <param name="altitude_max" value="3000" /> <!-- in millimeters = 3 meters = 9' -->
        <param name="altitude_min" value="50" /> <!-- in millimeters = 5cm = 2" -->
        <param name="euler_angle_max" value="0.25" /> <!-- maximum allowable body angle in radians = 15 degrees -->
        <param name="control_vz_max" value="800" /> <!-- maximum z velocity in mm/sec = 0.8m/sec -->
	    <param name="control_yaw" value="2.1" /> <!-- maximum rotation rate in radians/sec = 120 degrees per second (1/3 rev/sec) -->
	</node>
	
	<!-- Launches the keyboard controller -->
	<node name="keyboard_controller" pkg="ardrone_tutorials" type="keyboard_controller.py" required="true"/>
</launch>
